nav ul li {
  color: rgb(193, 186, 178);
  font-size: 20px;
  display: inline;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* nav {
  height: 1000px;
} */


/* nav ul {
  padding-top: 80px;
} */

nav ul {
  padding-top: 20px;
  padding-bottom: 20px;
}

nav ul li a {
  font-size: 20px;
  color:rgb(193, 186, 178);
}

/* nav .nav-name { 
  color: rgb(152, 229, 94);
  font-weight: bold;
  font-size: 50px;
} */

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


nav ul li a:hover { color: rgb(243, 155, 40); }

.home-page{
  height:1000px;
}


.home-page .home-name {
  color: rgb(152, 229, 94);
  font-weight: bold;
  font-size: 58px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  padding-left: 50px;
}

.home-page .description{
  color: rgb(193, 186, 178);
  font-size: xx-large;
  display: inline;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
}

p {
  padding-top: 60px;
}


footer p{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(156, 215, 111) ;
  text-decoration: none;
}

footer p a{ 
  color: white; 
}

footer p a:hover { 
  color: rgb(243, 155, 40); 
}


.card-div {
  display: flex;
  flex-direction: row;
}

.form-size {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}


#message-box {
  height: 200px;
  width: 400px;
}

#about {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 20px auto;
  background-color: #eb945b;
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about p{
  padding-left:25px;
  padding-top: 25px;
}

.profile-photo{
  width:400px;
}

.box {
  position: absolute;
  width: 1px;
  height: 1px;
  transition: all .5s linear;
}

.box :hover {
  width:360px;
  height:360px;
}

/* ^^ these .box classes are taken from my old portfolio but just seem to make the picture dissapear instead of appear in front of it */