nav ul li {
  color: rgb(193, 186, 178);
  display: inline;
  /* flex-direction: row; */
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* need to add highlighting when selected and I want remove underline */

nav {
  height: 1000px;
}

nav ul {
  padding-top: 80px;
}

nav ul li a {
  font-size: xx-large;
  color:rgb(193, 186, 178)
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


nav ul li a:hover { color: rgb(243, 155, 40); }


nav ul li a:active { color: white; }
/* figure out how to keep the white- it flashes so it might need a true/false */

nav .nav-name { 
  color: rgb(152, 229, 94);
  font-weight: bold;
  font-size: 50px;
}

footer p{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}