nav ul li {
  color: rgb(193, 186, 178);
  display: inline;
  /* flex-direction: row; */
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* need to add highlighting when selected and I want remove underline */

nav {
  height: 1000px;
}

nav ul {
  padding-top: 80px;
}

nav ul li a {
  font-size: xx-large;
  color:rgb(193, 186, 178)
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


nav ul li a:hover { color: rgb(243, 155, 40); }


nav ul li a:active { color: white }
/* figure out how to keep the white- it flashes so it might need a true/false */

nav .nav-name { 
  color: rgb(152, 229, 94);
  font-weight: bold;
  font-size: 50px;
}

footer p{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(156, 215, 111) ;
  text-decoration: none;
}

footer p a{ 
  color: white; 
}

footer p a:hover { 
  color: rgb(243, 155, 40); 
}


.card-div {
  display: flex;
  flex-direction: row;
}

.form-size {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* input{
 border: #eb945b;
} */

#message-box {
  height: 200px;
  width: 400px;
}

#about {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: 20px auto;
  background-color: #eb945b;
  padding: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#about p{
  padding-left:25px;
  padding-top: 25px;
}

.profile-photo{
  width:400px;
}

.box {
  position: absolute;
  width: 1px;
  height: 1px;
  transition: all .5s linear;
}

.box :hover {
  width:360px;
  height:360px;
}

/* ^^ these .box classes are taken from my old portfolio but just seem to make the picture dissapear instead of appear in front of it */